<div data-bm-darklight-switcher class="bm-darklight-switcher" role="group" aria-label="{{ 'Theme selector'|t }}">
  <input type="radio" name="bm-darklight" id="bm-darklight-light" data-theme="light" autocomplete="off">
  <label for="bm-darklight-light">{{ 'Light'|t }}</label>

  <input type="radio" name="bm-darklight" id="bm-darklight-dark" data-theme="dark" autocomplete="off">
  <label for="bm-darklight-dark">{{ 'Dark'|t }}</label>

  <input type="radio" name="bm-darklight" id="bm-darklight-system" data-theme="system" autocomplete="off">
  <label for="bm-darklight-system">{{ 'System'|t }}</label>
</div>
